<div class='basic-form'>
    <%= simple_form_for [@favorite_activity.child_account, @favorite_activity] do |f| %>
      <%= f.input :name %>
      <%= f.association :activity_category, label: 'Category', label_method: :activity_category, value_method: :id, include_blank: 'Please Select' %>
      <%= f.input :description %>
      <%= f.label :note, label: "Notes" %>
      <%= f.input :note, as: :text, label: false, input_html: { col: 50, rows: 7 } %>
      <%= f.label :rating %>
      <%= f.input :rating, as: :radio_buttons, collection: 1..5, label: false %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
  