<div class='activities'>
	<h2><%= @favorite_activity.name %></h2>
	<ul>
		<li>Category: <%= @favorite_activity.activity_category.activity_category %></li>
		<li>Description: <%= @favorite_activity.description %></li>
		<li>Note: <%= @favorite_activity.note %></li>
		<li>Rating: <%= @favorite_activity.rating %></li>
	</ul>
</div>
<div class='bottom-links'>
	<%= link_to 'Edit', edit_child_account_favorite_activity_path(@child_account, @favorite_activity, class: 'submit-button') %>
	<%= link_to "Remove from #{@favorite_activity.child_account.username}'s Favs", child_account_favorite_activity_path(@favorite_activity.child_account, @favorite_activity), method: :delete, data: { confirm: 'Are You Sure?' } %>
	<%= link_to "Back to #{@favorite_activity.child_account.username}'s Favs", child_account_favorite_activities_path(@child_account), class: 'submit-button' %>
</div>
