<div class='middle-display'>
	<h2>Make any changes you wish</h2>
	<div class='basic-form'>
		<%= simple_form_for [@activity_log.child_account, @activity_log] do |log| %>
			<%= log.input :name %>
			<%= log.input :date, start_year: Date.today.year - 10, end_year: Date.today.year, order: [:month, :day, :year] %>
			<%= log.association :activity_category, label: 'Category', label_method: :activity_category, value_method: :id, include_blank: 'Please Select' %>
			<%= log.input :description %>
			<%= log.label :note, label: 'Note' %>
			<%= log.input :note, as: :text, label: false, input_html: { col: 40, rows: 4 } %>
			<%= log.input :time, collection: 1..180, label: 'Duration in minutes', include_blank: true %>
			<%= log.input :weight, collection: 0..200 %>
			<%= log.input :sets, collection: 1..10 %>
			<%= log.input :repetitions, collection: 1..100 %>
			<%= log.submit 'Submit' %>
		<%- end -%>
	</div>

	<%= link_to 'Cancel / Back to My Activity Log', child_account_activity_logs_path(@activity_log.child_account) %>
</div>
