<div class='foods'>
  <% if @child_account.favorite_foods.count == 0 %>
    <h2>You haven't added any favorite foods yet.</h2>
  <% else %>
    <h2><%= "#{@child_account.username}'s Favorites" %></h2>
    <div id='food-search'>
      <%= search_form_for [:child_account, @search] do |f| %>
        <ul>
          <li><%= f.label :name_cont, "Search by Name" %>
            <%= f.text_field :name_cont %></li>  
          <li><%= f.label :food_category_id_eq, "Filter by Food Category" %>
            <%= f.select :food_category_id_eq, options_from_collection_for_select(FoodCategory.all, :id, :food_category), :include_blank => 'Please Select' %></li>
          <li><%= f.label :food_type_id_eq, "Filter by Food Type" %>
            <%= f.select :food_type_id_eq, options_from_collection_for_select(FoodType.all, :id, :food_type), :include_blank => 'Please Select' %></li>
          <li><%= f.label :rating_eq, "Filter by Rating" %>
            <%= f.select :rating_eq, [1,2,3,4,5], :include_blank => 'Please Select' %></li>
          <li><%= label_tag(:limit, "Items to Display") %>
          <%= select_tag :limit, options_for_select([5, 10, 15, 20, 50], selected: params[:limit]),
          include_blank: true %></li>
          <li><%= f.submit "Submit", class: 'submit' %></li>
          <li><%= link_to 'Clear Search', child_account_favorite_foods_path(@child_account), class: 'submit' %>
        </ul>
      <% end %>
    </div>

    <%= link_to 'Add Your Own Favorite Food', new_child_account_favorite_food_path(@child_account), id: 'add-favorite' %>
    
    <table id="fav_food_table">
      <th><%= sort_link(@search, :name, 'Food') %></th>
      <th>Food Category</th>
      <th>Food Type</th>
      <th><%= sort_link(@search, :rating, 'Rating') %></th>
      <% @favorite_foods.each do |ff| %>
        <tr id="ff_table">
          <td><%= link_to ff.name, child_account_favorite_food_path(@child_account, ff) %></td>
          <td><%= ff.food_category.try(:food_category) %></td>
          <td><%= ff.food_type.food_type %></td>
          <td id="rating"><%= ff.rating %></td>
          <td><%= link_to 'Edit', edit_child_account_favorite_food_path(ff.child_account, ff) %></td>
          <td><%= link_to 'Remove', child_account_favorite_food_path(ff.child_account, ff), method: :delete, data: { confirm: 'Are you sure?' } %>
        </tr>
      <% end %>
    </table>
  <% end %>

  <h3><%= paginate @favorite_foods %></h3>

  
</div>
