<div class='middle-display'>
  <h2>Here are the details for this favorite.</h2>
  <ul>
    <li><%= @favorite_food.name %></li>
    <li><%= FoodCategory.find(@favorite_food.food_category).food_category %></li>
    <li><%= FoodType.find(@favorite_food.food_type).food_type %></li>
    <li><%= @favorite_food.rating %></li>
    <li><%= @favorite_food.note %></li>
    <% if @favorite_food.share_with_others %>
      <li>You chose to share this favorite with others</li>
    <% else %>
      <li>You chose not to share this food with others</li>  
    <% end %>
    <li><%= link_to 'Edit My Favorite Food', edit_child_account_favorite_food_path(@favorite_food.child_account, @favorite_food) %></li>
  </ul>
</div>