<div class='basic-form'>
  <%= form_for(@food) do |f| %>
    <% if @food.errors.any? %>
      <div id='error explanation'>
        <h2><% pluralize(@food.errors.count, 'error') %><br> 
          Sorry. That didn't work.</h2>
        <ul>
          <% @food.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end%>
        </ul>
      </div>
    <% end%>

    <%= f.label :name, 'What is your food called?' %><br />
    <%= f.text_field :name %><br />
    <%= f.label :food_type_id, 'What kind of food is it?' %><br />
    <%= f.select(:food_type_id, options_from_collection_for_select(FoodType.all, :id, :food_type)) %><br />
    <%= f.submit 'Create This Food', class: 'create-button' %><br />
  <% end %>
</div>
