<div class='middle-display'>
  <h2>Here are some foods to choose from.</h2>
  
  <%= search_form_for @search do |f| %>
    <ul>
      <li><%= f.label :name_cont, "Search by Name" %>
        <%= f.text_field :name_cont %></li>
      <li><%= f.label :food_category_id_eq, "Filter by Food Category" %>
        <%= f.select :food_category_id_eq, options_from_collection_for_select(FoodCategory.all, :id, :food_category), include_blank: 'Please Select' %></li>
      <li><%= f.label :food_type_id_eq, "Filter by Food Type" %>
        <%= f.select :food_type_id_eq, options_from_collection_for_select(FoodType.all, :id, :food_type), 
        :include_blank => 'Please Select' %></li>
      <li><%= label_tag(:limit, "Items to Display") %>
        <%= select_tag :limit, options_for_select([5, 10, 15, 20, 50], selected: params[:limit]), 
        include_blank: true %></li>
      <li><%= f.submit "Submit" %></li>
      <li><%= link_to 'Clear Search', foods_path %>
    </ul>
  <% end %>

  <h3><%= paginate @foods %></h3>
  <table id="food_table">
    <th>Food</th>
    <th>Food Category</th>
    <th>Food Type</th>  
    <% @foods.each do |food| %>
      <tr id="food_id_<%= food.id %>">
        <td><%= link_to food.name, food_path(food) %></td>
        <td><%= food.food_category.food_category %></td>
        <td><%= food.food_type.food_type %></td>
        <% if family_account_signed_in? %>
          <% current_family_account.child_accounts.each do |account| %>
            <%= form_for [account, account.favorite_foods.build] do |f| %>
              <%= f.hidden_field :name, value: food.name %>
              <%= f.hidden_field :food_category_id, value: food.food_category_id %>
              <%= f.hidden_field :food_type_id, value: food.food_type_id %>
              <td><%= f.submit "Add to #{account.username}'s Favorites" %></td>
            <% end %>
          <% end %>
        <% else %>
        <td><%= link_to 'Add to Favorites', new_family_account_session_path, class: 'submit-button' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <h3><%= paginate @foods %></h3>
</div>
