<div class='middle-display'>
  <h2>Here are the details.</h2>
  <ul>
    <li><%= @food.name %></li>
    <li><%= @food_category.food_category %></li>
    <li><%= @food_type.food_type %></li>
  </ul>
  <% if family_account_signed_in? %>

    <%= render 'food_to_favorite' %>
    
  <% else %>
    <%= link_to 'Add to Favorites', new_family_account_session_path, class: 'submit-button' %>
  <% end %>

  <div class='bottom-links'>
    <%= link_to 'Back to the list of food choices', foods_path %>
  </div>  
</div>