<div class='middle-display'>
  <h2>Here are the details.</h2>
  <ul>
    <li><%= @food.name %></li>
    <li><%= @food_type.food_type %></li>
  </ul>
  <% if family_account_signed_in? %>

  <% current_family_account.child_accounts.each do |account| %>
    <%= form_for [account, account.favorite_foods.build] do |f| %>
      <%= f.hidden_field :name, value: @food.name %>
      <%= f.hidden_field :food_type_id, value: @food.food_type_id %>
      <%= f.submit "Add to #{account.username}'s Favorites", class: 'submit-button' %>
    <% end %>
  <% end %>
    
  <% else %>
    <%= link_to 'Add to Favorites', new_family_account_session_path, class: 'submit-button' %>
  <% end %>

  <div class='bottom-links'>
    <%= link_to 'Back to the list of food choices', foods_path %>
  </div>  
</div>