<div class='basic-form'>
  <%= form_for([@family_account, @child_account]) do |f| %>
    <% if @child_account.errors.any? %>
      <div id='error explanation'>
        <h2><% pluralize(@child_account.errors.count, 'error') %><br> 
          Sorry. That didn't work. Please try again.</h2>
        <ul>
          <% @child_account.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end%>
        </ul>
      </div>
    <% end%>

    <%= f.label :username, 'Username' %><br />
    <%= f.text_field :username %><br />
    <%= f.label :gender, '' %><br />
    <%= f.select(:gender, [['male', 0],['female', 1]]) %><br />
    <%= f.label :date_of_birth, 'Date of Birth' %><br />
    <%= f.date_select :date_of_birth, start_year: 1990, order: [:month, :day, :year] %><br />
    <%= f.submit 'Submit', class: 'submit' %><br />
  <% end %>
</div>
