<!DOCTYPE html>
<html>
<head>
  <title>Bt3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class='very-top'>
    <%= link_to 'Fit Families', family_accounts_path, class: 'logo' %>
    <div class='signer'>
      <% if family_account_signed_in? %>
        <%= link_to('Log Out', destroy_family_account_session_path, :method => :delete) %>
        <%= link_to 'My Account', family_account_path(current_family_account) %><br />
        <b>You are signed in as: <%= current_family_account.email %></b>
      <% else %>
        <%= link_to('Log In', new_family_account_session_path)  %>
      <% end %>
    </div>
  </div>
</header>

<div class='navbar'>
  <%= link_to 'Nutrition', foods_path %>
  <%= link_to 'Activity', activities_path %>
  <p></p>
  <% if family_account_signed_in? %>
    <% current_family_account.child_accounts.each do |f| %>
      <%= link_to f.username, family_account_child_account_path(current_family_account, f), class: 'kid-button' %>
      <% end %>
  <% end %>
</div>

<h3 id="notice"><%= notice %></h3>
<h3 class="alert"><%= alert %></h3>

<%= yield %>

<footer>
  <%= link_to 'Contact Us' %>
  <%= link_to 'FAQ' %>
  <%= link_to 'About Us' %>
</footer>


</body>
</html>






